.header {
  height: var(--jbk-layout-panel-header-height);
  flex: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  border-bottom: 1px solid var(--jbk-border-panel-header-divider);
}
